@import './content.css';
@import './prism.css';
@import './prism-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: MonoLisa;
    src: url('/fonts/mono-lisa/MonoLisa-Regular.ttf');
}

@font-face {
    font-family: JetBrainsMono;
    src: url('/fonts/jetbrains-mono/JetBrainsMono-Regular.ttf');
}

@layer base {
    :root {
        --color-ui-gray-50: theme('colors.gray.900');
        --color-ui-gray-100: theme('colors.gray.800');
        --color-ui-gray-200: theme('colors.gray.700');
        --color-ui-gray-300: theme('colors.gray.600');
        --color-ui-gray-400: theme('colors.gray.800');
        --color-ui-gray-500: theme('colors.gray.400');
        --color-ui-gray-600: theme('colors.gray.50');
        --color-ui-gray-700: theme('colors.gray.100');
        --color-ui-gray-800: theme('colors.gray.200');
        --color-ui-gray-900: theme('colors.white');

        --color-ui-violet-500: theme('colors.violet.800');
        --color-ui-violet-600: theme('colors.violet.700');
        --color-ui-violet-900: theme('colors.violet.600');
    }

    [color-scheme="dark"] {
        --color-ui-gray-50: theme('colors.gray.50');
        --color-ui-gray-100: theme('colors.gray.100');
        --color-ui-gray-200: theme('colors.gray.200');
        --color-ui-gray-300: theme('colors.gray.300');
        --color-ui-gray-400: theme('colors.gray.400');
        --color-ui-gray-500: theme('colors.gray.500');
        --color-ui-gray-600: theme('colors.gray.600');
        --color-ui-gray-700: theme('colors.gray.700');
        --color-ui-gray-800: theme('colors.gray.800');
        --color-ui-gray-900: theme('colors.gray.900');

        --color-ui-violet-500: theme('colors.violet.500');
        --color-ui-violet-600: theme('colors.violet.600');
        --color-ui-violet-900: theme('colors.violet.900');
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance:textfield;
    }
}

@layer utilities {
    .highlight {
        @apply border border-gray-300;
    }

    [color-scheme="dark"] .highlight {
        @apply border-ui-gray-900;
    }
}
