[color-scheme="dark"] {
  code[class*="language-"]::-moz-selection,
  pre[class*="language-"]::-moz-selection,
  code[class*="language-"]::-moz-selection,
  pre[class*="language-"]::-moz-selection {
      background: #cceae7;
      color: #263238;
  }

  code[class*="language-"]::selection,
  pre[class*="language-"]::selection,
  code[class*="language-"]::selection,
  pre[class*="language-"]::selection {
      background: #cceae7;
      color: #263238;
  }

  .language-css > code,
  .language-sass > code,
  .language-scss > code {
      color: #f76d47;
  }

  [class*="language-"].namespace {
      opacity: 0.7;
  }

  .token.package {
      @apply text-ui-gray-100;
  }

  .token.atrule {
      color: #7c4dff;
  }

  .token.attr-name {
      color: #ffcb6b;
  }

  .token.attr-value {
      color: #c4e88d;
  }

  .token.attr-equals {
      color: #c4e88d;
  }

  .token.attribute {
      color: #f6a434;
  }

  .token.boolean {
      color: #7c4dff;
  }

  .token.builtin {
      color: #39adb5;
  }

  .token.cdata {
      color: #39adb5;
  }

  .token.char {
      color: #39adb5;
  }

  .token.class {
      color: #39adb5;
  }

  .token.class-name {
      @apply text-ui-gray-100;
  }

  .token.comment {
      color: #93939e;
  }

  .token.constant {
      color: #a584ff;
  }

  .token.deleted {
      color: #e53935;
  }

  .token.doctype {
      color: #aabfc9;
  }

  .token.entity {
      color: #e53935;
  }

  .token.function {
      color: #f3655e;
  }

  .token.hexcode {
      color: #f76d47;
  }

  .token.id {
      color: #7c4dff;
      font-weight: bold;
  }

  .token.important {
      color: #0782b1;
  }

  .token.inserted {
      color: #39adb5;
  }

  .token.keyword {
      color: #c792ea;
  }

  .token.number {
      color: #f76d47;
  }

  .token.operator {
      color: #39adb5;
  }

  .token.prolog {
      color: #aabfc9;
  }

  .token.property {
      color: #46cad1;
  }

  .token.pseudo-class {
      color: #f6a434;
  }

  .token.pseudo-element {
      color: #f6a434;
  }

  .token:not(.tag) > .punctuation {
      @apply text-ui-gray-100;
  }

  .token.tag > .punctuation {
      color: #e53935;
  }

  .token.regex {
      color: #6182b8;
  }

  .token.selector {
      color: #e53935;
  }

  .token.string {
      color: rgb(134, 187, 28);
  }

  .token.symbol {
      color: #7c4dff;
  }

  .token.tag {
      color: #e53935;
  }

  .token.unit {
      color: #f76d47;
  }

  .token.url {
      color: #e53935;
  }

  .token.variable {
      color: #40b4e2;
  }

  .token.class-name-fully-qualified,
  .token.class-name {
      @apply text-ui-gray-100;
  }
}
